
@{
    ViewBag.Title = "EditNCV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title>Update NCV</title>
</head>
<body>
    <h1>Update NCV</h1>
    <form id="update-form">
        <label for="SPKHCN">sản phẩm KHCN </label>
        <input type="text" id="SPKHCN" name="SPKHCN"><br><br>
        <label for="TC">TC: </label>
        <input type="text" id="TC" name="TC"><br><br>
        <label for="kinhPhi">Kinh phí: </label>
        <input type="text" id="kinhPhi" name="kinhPhi"><br><br>
        <label for="moTa">Mô tả sản phẩm: </label>
        <input type="text" id="moTa" name="moTa"><br><br>
        <button type="submit" id="update-btn">Update</button>
    </form>
    <script>
        // Lấy ID từ URL
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('id');

        // Tạo yêu cầu GET để lấy dữ liệu hiện tại
        fetch("https://localhost:44364/api/ThanhToanNCV/Get-ID?id=" + id)
            .then(response => response.json())
            .then(data => {

                // Điền dữ liệu vào form
                data.forEach(function (item) {
                    document.getElementById('SPKHCN').value = item.sanPhamKHCN;
                    document.getElementById('TC').value = item.tcnckh;
                    document.getElementById('kinhPhi').value = item.kinhPhi;
                    document.getElementById('moTa').value = item.moTaSanPhamKHCN;
                });

            });

        // Tạo yêu cầu PUT khi người dùng bấm vào nút "Update"
        document.getElementById('update-form').addEventListener('submit', event => {
            event.preventDefault();
            const data = {
                id:id,
                sanPhamKHCN: document.getElementById('SPKHCN').value,
                tcnckh: document.getElementById('TC').value,
                kinhPhi: document.getElementById('kinhPhi').value,
                moTaSanPhamKHCN: document.getElementById('moTa').value,
            };
           fetch("https://localhost:44364/api/ThanhToanNCV/Update/" + id, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.ok) {
                        alert('Data updated successfully!');
                        // Chuyển trang về danh sách dữ liệu
                        window.location.href = '/NCV';
                    } else {
                        alert('Error updating data.');
                    }
                });
        });
    </script>
</body>
</html>


