<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>


</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>DataTables</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Xét duyệt danh mục NCKH</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body" style="overflow-x: auto;">
                                <table id="example2" class="table table-bordered table-hover" style="width: 1000px;">
                                    <thead>
                                        <tr>
                                            <th>ID Danh Mục</th>
                                            <th>Loại Hình Tạp Chí</th>
                                            <th>Issn</th>
                                            <th>Eissn</th>
                                            <th>Category</th>
                                            <th>Citations</th>
                                            <th>if_2022</th>
                                            <th>percentageOAGold</th>
                                            <th>Họ Tên</th>
                                            <th>Tên Bài Báo</th>
                                            <th>groupUser</th>
                                            <th>Rank</th>
                                            <th>link</th>
                                            <th>Trạng Thái</th>
                                            <th>Cập nhật</th>
                                        </tr>
                                    </thead>
                                    <tbody id="abc">
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>ID Danh Mục</th>
                                            <th>Loại Hình Tạp Chí</th>
                                            <th>Issn</th>
                                            <th>Eissn</th>
                                            <th>Category</th>
                                            <th>Citations</th>
                                            <th>if_2022</th>
                                            <th>percentageOAGold</th>
                                            <th>Họ Tên</th>
                                            <th>Tên Bài Báo</th>
                                            <th>groupUser</th>
                                            <th>Rank</th>
                                            <th>link</th>
                                            <th>Trạng Thái</th>
                                            <th>Cập nhật</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>

        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>
    <!-- /.content -->
    <!-- Page specific script -->

</body>
</html>
<script>
    var token = "";
    var linkapi = "https://localhost:44364/api/DanhMucXetDuyet/Get-all-datatem";
    function Start() {
        getUserName(renderGet_info);

    }
    Start();
    function getUserName(callback) {
        var searchBtn = document.querySelector('#Timbtn');
        fetch(linkapi)
            .then(function (response) {
                //console.log(response.json());
                return response.json();
            })
            .then(callback)
    }

        function renderGet_info(users) {
            var tbody = document.querySelector('#abc');
            var htmls = users.map(function (user) {
                return `
                <tr>
                    <td>${user.idDanhMuc}</td>
                    <td>${user.journal_name}</td>
                    <td>${user.issn}</td>
                    <td>${user.eissn}</td>
                    <td>${user.category}</td>
                    <td>${user.citations}</td>
                    <td>${user.if_2022}</td>
                    <td>${user.percentageOAGold}</td>
                    <td>${user.userId}</td>
                    <td>${user.tenBaiBao}</td>
                    <td>${user.groupUser}</td>
                    <td>${user.rank}</td>
                    <td>${user.link}</td>
                    <td>
                        <select id="status-${user.idDanhMuc}">
                            <option value="0" ${user.status == 0 ? "selected" : ""}>Đang đợi duyệt</option>
                            <option value="1" ${user.status == 1 ? "selected" : ""}>Duyệt lần 1</option>
                            <option value="2" ${user.status == 2 ? "selected" : ""}>Duyệt lần 2</option>
                            <option value="3" ${user.status == 3 ? "selected" : ""}>Từ chối</option>
                            <option value="4" ${user.status == 4 ? "selected" : ""}>Hoàn Thành</option>
                        </select>
                    </td>
                    <td>
                    <button onclick="changeStatus(document.querySelector('#status-${user.idDanhMuc}').value, ${user.idDanhMuc})">Cập nhật</button>
                    </td>
                </tr>`;
            });
            tbody.innerHTML = htmls.join('');
            // Hiển thị tổng số đề tài tìm thấy
            var total = users.length;
            var totalText = document.querySelector('.text-danger');
            totalText.innerHTML = `Tổng số đề tài tìm thấy: ${total}`;
        }
    function changeStatus(status, idDanhMuc) {
        fetch(`https://localhost:44364/api/DanhMucXetDuyet/${idDanhMuc}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(status)
        })
            .then(response => response.json())
            .then(data => {
                // Update the UI or show a success message
                console.log('Status updated successfully', data);
            })
            .catch(error => {
                // Handle the error or show an error message
                console.error('Error while updating status', error);
            });
    }

   

</script>
